/*==============================================================================
// BODY: Grundlegender Aufbau des Grids                                       //
==============================================================================*/

body {
    margin: 0;
    padding: 0;
    /*Kein leerer Bereich rund um den gesamten Body*/
    font-family: monospace;
    box-sizing: border-box;
}

/*==============================================================================
// SEITENKOPF                                                                 //
==============================================================================*/

#seitenkopf {
    padding: 0 1em;
    margin: 1em 0;
    text-align: center;
    background: darkblue;
    color: white;
}

#seitenkopf h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
}

/*==============================================================================
// INTROTEXT UND HISTORIE                                                     //
==============================================================================*/

#introtext {
    padding: 1em;
    font-size: 1.5em;
    text-align: center;
    width: 90%;
    display: flex;
    margin: 0.7em;
}




#historie {
    margin: 1em;
    font-size: 1.3em;
    padding: 1.5em;
    background-color: white;
    width: 90%;
    text-align: center;
}

/*==============================================================================
// KALENDERBLATT                                                              //
==============================================================================*/

#kalenderblatt {
    margin: 5px;
}

#kalenderblatt table {
    margin: 25px auto;
    width: 90%;
    border-collapse: collapse;
    font-size: 2em;
}

#kalenderblatt table th {
    background: lightgray;
    /* Jede th-Zelle bekommt oben / links eine Border*/
    text-align: center;
    padding: 0.5em;
    font-weight: bold;
    border: 1px solid darkblue;
}

#kalenderblatt table td {
    background: white;
    text-align: center;
    padding: 0.5em;
    border: 1px solid darkblue;
}

#kalenderblatt td:hover,
#kalenderblatt th.selectable:hover {
    background: tomato;
    cursor: pointer;
    /*Hintergrund tomatenfarbe, wenn man mit der Maus drüber fährt*/
}

#kalenderblatt td.heute {
    background: pink;
    /*Der heutige Tag wird markiert*/
}

#kalenderblatt td.heute:hover {
    background: tomato;
    /*Der heutige Tag wird auch gelb beim Drüberfahren*/
}

#kalenderblatt td.sa {
    color: darkblue;
    /*Samstage sind blau dargestellt*/
}

#kalenderblatt td.so,
#kalenderblatt td.feiertag {
    color: red;
    /*Sonnage sind rot dargestellt*/
}

#kalenderblatt td.kw {
    font-style: italic;
    /*Kw-Angaben kleiner und in Kursivschrift*/
    font-size: 0.9rem;
    cursor: unset;
    /*Kw kann man nicht klicken, also Cursor anders*/
    color: grey;
}

#kalenderblatt td.kw:hover {
    background: unset;
    /*Nix passiert, wenn man über KW hovert*/
}

span {
    background: lightcoral;
}
.leer {
    color: black;
    cursor: default;
}

#kalenderblatt table td.leere_zeilen,
#kalenderblatt table td.leer {
    background-color: lightgrey;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 200px;
}

button {
    width: 24.5%;
    height: initial;
    object-fit: inherit;
}


